<!DOCTYPE html >
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <title>Forced Cube</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//code.jquery.com/jquery-3.2.1.slim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js"></script>
    <script src="../dist/sphereViewer.js"></script>
  </head>
  <body>
    <script>
      // starting all up
      initSphere();
      function initSphere(ev) {
        
        if(ev) {
          ev.target.remove();
        }
        var isMobile = window.devicePixelRatio!==1;
        var config = {
          // When the source image is passed as the [sphere] property
          // the textere will be applied onto a 3D sphere
          // (unless the [forceCube] flag is set - see below)
          //
          // NOTE: the pre-loading feature is not supported in
          // the "tile", "atlas" or "forceCube" modes
          sphere: 'img/sphere2048.jpg',
          // If the [forceCube] flag is set to TRUE, the texture will be
          // applied onto a 3D Cube instead of a 3D Sphere.
          //
          // NOTE: although rendering a 3D cube is much faster on weak devices,
          //       than using a 3D Sphere, this method will be hit
          //       with additional delay in the initial setup phase,
          //       since it image projection needs to be converted to cubical
          //       (rectilinear) projection.
          //       Performancewise it's better to use tiles or a texture atlas
 		  forceCube: true,
		  
          // (optional) run multiple web workers in paralel
          // The texture conversion (from spherical to cubical)
          // is done in the background thread (web worker).
          // Here we can sppecify if we want to use multiple
          // workers, each converting one face in paralel,
          // or a single one working one one face at the time
          // HINT: on multicore CPUs this should beset to TRUE 
          multiWorker: true,
          // (optional) displaying logo at the sphere bottom
          logo:'img/logo.png',
          logoDistance: -30,
          // (optional) displaying instructions
          hint: isMobile ? 'img/sphere-icon-mobile.png' : 'img/sphere-icon-desktop.png',
          
          // (optional) configuring controls
          control: {
            autoRotate: true,
            autoRotateSpeed: 2,
            autoRotateDirection:-1
          },
          // (optional) defining HTML for the close button
          closeButtonHtml: '<i class="cmdCloseSphere material-icons">highlight_off</i>'
        };
        var sphere = new SphereViewer.Viewer(config);
        sphere.addEventListener('closed', function() {
          // after the sphere is closed, display a button for showing the sphere
          var cmdShowSphere = document.createElement('button');
          cmdShowSphere.className = 'cmdShowSphere';
          cmdShowSphere.innerHTML = 'Show Sphere';
          cmdShowSphere.addEventListener('click', initSphere)
          document.getElementsByTagName('body')[0].appendChild(cmdShowSphere);
        });
      }
    </script>
  </body>
</html>