/* div {
    border: black solid 1px;
} */
#root {
    background: url("https://image.freepik.com/free-vector/colorful-abstract-background-with-squares_1035-3033.jpg");
    background-size: cover;
    height:100%;
}



html, body {
    height:100%;
}

