img.dropzone-custom {
  position: relative;
  width: 200px;
  /* height : 20%; */
  height: 200px;
  /* width:100%; */
  border-width: 2px;
  color: rgb(17, 15, 129);
  border-style: solid;
  border-radius: 5px;
  justify-items: center;
  justify-content: center;
}

div.dropzone-custom {
  position: relative;
  width: 50%;
  border-style: solid;
  border-radius: 5px;
  margin-left: 25%;
  margin-top: 20px;
  background-color: white;
  color: gray;
}
p {
  margin-bottom: 0px;
}

#iconid{
  color: #007BFF;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.8em;
  margin-top: 5px;
}

div.text-center.jumbotron {
  /* opacity: 0.5!important; */
  height: 100vh;
}
