.navbar-custom {
    background-color:rgb(221, 219, 219);
    /* opacity: 0.5; */
}

/* .nav-item{
    background-color: cornsilk;
    #888888;
} */


/* .nav-item{
    color: black;
} */
.d-inline-block align-top{
background-color: rgb(212, 209, 209);
}

/* .button.btn.btn-primary{
    margin: 20px !important;
    padding: 50px; 
} */
/* need to work on that */
/* .button, input, optgroup, select, textarea{
    margin: 0px,0px,5px,0px; 
} */