.navbar-custom {
    background-color:gray;
    /* opacity: 0.5; */
}

/* .nav-item{
    background-color: cornsilk;
    #888888;
} */


/* .nav-item{
    color: black;
} */
.d-inline-block align-top{
background-color: gray;
}